<h1>Listing symbol_infos</h1>

<table>
  <tr>
    <th>Symbol</th>
    <th>Company name</th>
    <th>Exchange</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @symbol_infos.each do |symbol_info| %>
  <tr>
    <td><%= symbol_info.symbol %></td>
    <td><%= symbol_info.company_name %></td>
    <td><%= symbol_info.exchange %></td>
    <td><%= link_to 'Show', symbol_info %></td>
    <td><%= link_to 'Edit', edit_symbol_info_path(symbol_info) %></td>
    <td><%= link_to 'Destroy', symbol_info, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Symbol info', new_symbol_info_path %>
