<p id="notice"><%= notice %></p>

<p>
  <b>Symbol:</b>
  <%= @symbol_info.symbol %>
</p>

<p>
  <b>Company name:</b>
  <%= @symbol_info.company_name %>
</p>

<p>
  <b>Exchange:</b>
  <%= @symbol_info.exchange %>
</p>

<%= javascript_tag  do -%>
    var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.StockChart({
         chart: {
            renderTo: 'hscontainer',
         },
         rangeSelector : {
		selected : 1
	},
         series: [{
            name: '<%= @symbol_info.symbol %>',
            data: 
[
<% @symbol_info.daily_prices.each do |daily_price| %>
  [
    <%= daily_price.created_at.to_i * 1000 %>,
    <%= daily_price.closing %>,
  ],
<% end %>
]
         }]
      });
   });
  <% end -%>

<%
=begin
%>
<% @symbol_info.daily_prices.each do |daily_price| %>
  [
    <%= daily_price.created_at.to_i * 1000 %>,
    <%= daily_price.opening %>,
    <%= daily_price.high %>,
    <%= daily_price.low %>,
    <%= daily_price.closing %>,
    <%= daily_price.volume %>
  ],</br>
<% end %>
<%
=end
%>

<div id="hscontainer">
</div>

<h2>Prices</h2>
<table>
<thead>
  <tr>
    <th width="25%">Date</th>
    <th width="15%">Opening</th>
    <th width="15%">High</th>
    <th width="15%">Low</th>
    <th width="15%">Closing</th>
    <th width="15%">Volume</th>
  </tr>
</thead>
<tbody>
<% @symbol_info.daily_prices.each do |daily_price| %>
  <tr>
    <td><%= daily_price.created_at.strftime("%d %b %Y") %></td>
    <td><%= daily_price.opening %></td>
    <td><%= daily_price.high %></td>
    <td><%= daily_price.low %></td>
    <td><%= daily_price.closing %></td>
    <td><%= daily_price.volume %></td>
  </tr>
<% end %>
</tbody>
</table>


<%= link_to 'Edit', edit_symbol_info_path(@symbol_info) %> |
<%= link_to 'Back', symbol_infos_path %>
