<h1>Listing current_symbols</h1>

<table>
  <tr>
    <th>Active date</th>
    <th>Symbol</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @current_symbols.each do |current_symbol| %>
  <tr>
    <td><%= current_symbol.active_date %></td>
    <td><%= current_symbol.symbol %></td>
    <td><%= link_to 'Show', current_symbol %></td>
    <td><%= link_to 'Edit', edit_current_symbol_path(current_symbol) %></td>
    <td><%= link_to 'Destroy', current_symbol, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Current symbol', new_current_symbol_path %>
