<%= form_for(@level) do |f| %>
  <% if @level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@level.errors.count, "error") %> prohibited this level from being saved:</h2>

      <ul>
      <% @level.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :active_date %><br />
    <%= f.datetime_select :active_date %>
  </div>
  <div class="field">
    <%= f.label :top %><br />
    <%= f.text_field :top %>
  </div>
  <div class="field">
    <%= f.label :base %><br />
    <%= f.text_field :base %>
  </div>
  <div class="field">
    <%= f.label :level1 %><br />
    <%= f.text_field :level1 %>
  </div>
  <div class="field">
    <%= f.label :level2 %><br />
    <%= f.text_field :level2 %>
  </div>
  <div class="field">
    <%= f.label :level3 %><br />
    <%= f.text_field :level3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
