<header>
<div id="header">
<h1>
<%= link_to "Summertime", root_path %>
</h1>
</div>

<nav>
<div id="topNav">
    <div class="wrapper">
	<%= tabs_tag do |tab| %>
	  <%= tab.home      'Home', root_path %>
	  <%= tab.symbols 'All Symbols', symbol_infos_path %>
	  <%= tab.contact   'Contact', contact_path %>
	  <%= tab.about   'About', about_path %>
	  <%= tab.help   'Help', help_path, :style => "border-style: none" %>
	<% end %>
    </div>
</div>
</nav>
</header>

