<!DOCTYPE html>
<html>
<head>
  <title>Summertime</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">
<%= render 'layouts/header' %>
<div id="content">

<%= yield %>

</div>

<footer>
</footer>
</div>
</body>
</html>
